main.wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 1240px;
  height: auto;
  margin: 128px auto 0;
}

article.container {
  display: flex;
  flex-direction: column;
  width: 860px;
}

article.container form .placeholder-filled label {
  top: 8px;
}

div.control {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

aside.container {
  position: absolute;
  left: 20px;
  width: 320px;
}

aside.container > nav.menu > ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

aside.container > nav.menu > ul > li > a {
  display: block;
  padding: 17px 0;
  color: var(--text-inactive-color);
  text-decoration: none;
}

aside.container > nav.menu > ul > li > a.active {
  color: var(--text-primary-color);
}

aside.container > p.info {
  opacity: 0.4;
}
